
{% extends 'main/base.html' %}
{% block title %}РЕЗЮМЕ{% endblock %}
{% block main %}
    {% include 'main/header.html' %}
    <main>
        <h1>Автобиография</h1>
    <h2 class="div1">Лозовой Алексей</h2>

    <p>Я Лозовой Алексей Андреевич, родился 30.08.1982г. в городе Днепропетровск.</p>

    <ol>
        <li>
            Учеба:
            <ul>
                <li>1989-1999 СШ№21, г. Днепропетровска</li>
                <li>1999-2005 Национальный горный университет, специальность " Гидрогеолог"</li>
            </ul>

        </li>
        <li>
            Работа:
            <ul>
                <li>2000-2002 ЧП "Натал", экспедитор</li>
                <li>2002-2003 ЧП "Натал", менеджер по продажам</li>
                <li>2003-2006 ООО "Энерго-МИГ" менеджер</li>
                <li>2006-2009 ОАО "Днепропетровскгаз" заместитель начальника отдела снабжения</li>
                <li>2009-2016 Частный предприниматель</li>
            </ul>
        </li>
        <li>
            Симейное положение:
            <ul>
                <li>Жена: Лозовая Натела Валерьяновна 1982г.р.</li>
                <li>Дочь: Лозовая Дарья Алексеевна 2011г.р.</li>
                <li>Дочь: Лозовая Анна Алексеевна 2013г.р.</li>
            </ul>
        </li>
    </ol>

    <hr>
    </main>
    {% include 'main/footer.html' %}
{% endblock %}